langchain==0.0.284
python-dotenv==1.0.0
tiktoken
faiss-cpu
libmagic
python-magic
streamlit>=1.22.0,<1.23.0
pandas>=1.5.3,<1.6.0
newspaper3k==0.2.8
pypdf==3.10.0
openai==0.28.0
huggingface-hub==0.18.0
langchain-community
lxml_html_clean
