langchain==0.0.284
python-dotenv==1.0.0


tiktoken==0.4.0
faiss-cpu==1.7.4
libmagic
python-magic
python-magic-bin



newspaper3k==0.2.8
python-dotenv==1.0.0

pypdf==3.10.0
openai==0.28.0
HuggingFace_hub==0.18.0
numpy==1.23.0
